{
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "addLoc": true,
        "debugSids": true,
        "factories": ["patronum", "src/features/add-entity", "./src/features/add-entity/model"]
      }
    ]
  ]
}
